<div class="container mt-5">
  <h1>ChatGPT-App</h1>
  <p>Testando o ChatGPT</p>
  <%= render partial: "ai/request_form", locals: { uuid: @uuid } %>
  <%= turbo_stream_from "channel_#{@uuid}" %>
  <%= "UUID: #{@uuid}" %>
  <div id="ai_output">
    <%= render partial: "ai/output", locals: { generated_idea: "" } %>
  </div>
  <div id="ai_output_image">
    <%= render partial: "ai/output_image", locals: { generated_image: "" } %>
  </div>
</div>
