<!DOCTYPE html>
<html>
  <head>
    <title>ChatGPT APP</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/dracula%20-theme@2.2.0/css/dracula.min.css">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
